<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('admin_dashboard') }}">
        <div class="sidebar-brand-text mx-3">Admin panel</div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="{{ path('admin_dashboard') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">


    <div class="sidebar-heading">
        Collection
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCollection"
           aria-expanded="true" aria-controls="collapseCollection">
            <i class="fas fa-folder fa-cubes"></i>
            <span>Collections</span>
        </a>
        <div id="collapseCollection" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner">
                <a class="collapse-item" href="{{ path('admin_collection_list') }}">All list</a>
                <a class="collapse-item" href="{{ path('admin_collection_add') }}">Add new</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">


    <div class="sidebar-heading">
        Collection item
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseItem"
           aria-expanded="true" aria-controls="collapseItem">
            <i class="fas fa-fw fa-cubes"></i>
            <span>Items</span>
        </a>
        <div id="collapseItem" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner">
                <a class="collapse-item" href="{{ path('admin_collectionItem_list') }}">All list</a>
                <a class="collapse-item" href="{{ path('admin_collectionItem_add') }}">Add new</a>
            </div>
        </div>
    </li>


    <div class="sidebar-heading">
        User
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser"
           aria-expanded="true" aria-controls="collapseUser">
            <i class="fas fa-user fa-cubes"></i>
            <span>Users</span>
        </a>
        <div id="collapseUser" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="py-2 collapse-inner">
                <a class="collapse-item" href="{{ path('admin_user_list') }}">All list</a>
                <a class="collapse-item" href="{{ path('admin_user_add') }}">Add new</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        General
    </div>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
